<h1>Add a new coffee</h1>

<%= form_for(@coffee) do |f|%>
    <div>
        <% f.label :name %>
        <% f.text_field :name %>
    </div>
    <div>
        <% f.label :roast_type %>
        <% f.text_field :roast_type %>
    </div>
    <div>
        <% f.label :description %>
        <% f.text_field :description %>
    </div>

    <p>Select a brand: </p>
    <div>
        <%= f.collection_select :brand_id, Brand.all, :id, :name, include_blank: 'Select'%>
    </div>

  <p> Create a new brand: </p>
  <div>
    <%=f.fields_for :brand do |b| %>
      <%= b.label :name %>
      <%= b.text_field :name %>
      <%= b.label :roast_type %>
      <%= b.text_field :roast_type %>
      <%= b.label :description %>
      <%= b.text_field :description %>
    <% end %>
  </div>
  <br>

    <%= f.submit %>
<% end %>

# t.string "name"
# t.string "roast_type"
# t.string "description"
# t.integer "brand_id", 
# t.integer "user_id",