
<%=  display_header(@review)%>
<%= render partial: 'layouts/errors', locals: {object: @review}  %>

<%= form_for(@review) do |f| %>
    <% if params[:coffee_id] %>
        <%= f.hidden_field :coffee_id %>
    <% else %>
    <div>
    <%= f.label :coffee_id, "Select a coffee" %>
    <%= f.collection_select :coffee_id, Coffee.alpha, :id, :name_and_brand_name, include_blank: true %>
  </div>
<% end %>
    <div>
        <%= f.label :score %>
        <%= f.number_field :stars, min:0, max:10 %>
    </div>
    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    <div>
        <%= f.label :content %>
        <%= f.text_area :content, size: "30x15" %>
        </div>
        <br>
      
        <%= f.submit %>
      <% end %>

        #schema reference below
        # t.integer "score"
        # t.string "title"
        # t.string "content"
        # t.integer "user_id", null: false
        # t.integer "coffee_id", null: false