
<%=  display_header(@review)%>
<%= render partial: 'layouts/errors', locals: {object: @review}  %>

<%= form_for(@review) do |f| %>
    <div>
        <%= f.label :score %>
        <%= f.number_field :stars, min:0, max:10 %>
    </div>
    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    <div>
        <%= f.label :content %>
        <%= f.text_area :content, size: "50x20" %>
    </div>
        <%= f.hidden_field :coffee_id %>
        <%= f.submit %>

    <% end %>
        # t.integer "score"
        # t.string "title"
        # t.string "content"
        # t.integer "user_id", null: false
        # t.integer "coffee_id", null: false